In [8]:
if True:
  print("This is indented correctly")

This is indented correctly

In [9]:
name="Taha"
age=20
pi=3.141
print("name: ",name)
print("age: ",age)
print("pi: ",pi)

name:  Taha
age:  20
pi:  3.141

In [10]:
name=input("enter name : ")
age=int(input("enter age : "))
print(name,age)

enter name : Taha
enter age : 20
Taha 20

In [11]:
z=4+6j
print(z.real,z.imag)

4.0 6.0

In [12]:
msg = "Hello World!"
repeat = "Python" * 10
print(repeat)
replace = msg.replace("hello","Hi")
print(replace)
print(msg[0])
print(msg[0:5])
print(msg[6:])

PythonPythonPythonPythonPythonPythonPythonPythonPythonPython
Hello World!
H
Hello
World!

In [13]:
temp = [1,2,3,4,5]
print(temp)
temp.append(6)
print(temp)
print(temp[0:3])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [14]:
tupl= (1,2,3,4,5)
print(tupl)

(1, 2, 3, 4, 5)

In [15]:
num_set = {1,2,3,4,5}
num_set.add(6)
print(num_set)
num_set.add(6)
print(num_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [16]:
dictionary = {"name": "Taha"}

dictionary['name'] = "mtj"
print(dictionary)

{'name': 'mtj'}

In [17]:
num1 = 10
num2= 10.01
result= num1+num2
print (result)
print(type(result))

20.009999999999998
<class 'float'>

In [18]:
age = "20"
print(type(age))
integer = 10
age = int(age)
result= age+integer
print(result)

<class 'str'>
30

In [19]:
print("Floor Div:",10//6)
print("Mod:",5%2)
print("Exponent:",2**3)

Floor Div: 1
Mod: 1
Exponent: 8

In [20]:
p = True
q= False

print("AND", p and q)
print("OR", p or q)
print("NOT", not p)

AND False
OR True
NOT False

In [21]:
a=10
print(a)
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)

10
15
10
50
10.0

In [22]:
sentence = "a  sentence"
print(len(sentence))

11

In [24]:
sentence = "a sentence"
tokens = sentence.split(" ")
print(tokens)

['a', 'sentence']

In [25]:
import random
no = random.randint(1,10)
print(no)
print(random.random())
items = ["apple", "mango", "grapes"]
random.shuffle(items)
print(items)
print(random.choice(items))

4
0.3749881744538285
['grapes', 'mango', 'apple']
apple